#Yellow {
    width:750px;
    color:rgb(255, 255, 11);
    background-color: black;
}

#section2 {
    color: blue;
}

#section3 {
    color: red;
}

#Red {
    color: red;
}

header li {
    list-style: none;
}

header a:link, header a:visited {
    text-decoration: none;
    background-color: red;
    border: 1px solid blue;
    color: black;
    display: block;
    width: 150px;
    text-align: center;
}

header a:hover, header a:active {
    background-color: yellow;
    color:red;
}

header li:nth-child(4) {
    font-size: 20px;
}